html,
body,
#root {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.r3f-canvas {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
  display: block;
}

/* iOS Safari fix */
@supports (-webkit-touch-callout: none) {
  .r3f-canvas {
    height: calc(var(--vh, 1vh) * 100);
  }
}
